<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FeedbackMapper">

    <select id="selectAll" resultType="com.example.entity.Feedback">
        select feedback.*, employee.name as userName from `feedback`
        left join employee on feedback.user_id = employee.id
        left join department on employee.department_id = department.id
        <where>
            <if test="status != null"> and feedback.status = #{status}</if>
            <if test="question != null"> and feedback.question like concat('%', #{question}, '%')</if>
            <if test="userId != null"> and feedback.user_id = #{userId}</if>
            <if test="type != null"> and feedback.type = #{type}</if>
            <if test="companyId != null"> and department.company_id = #{companyId}</if>
        </where>
        order by feedback.id desc
    </select>

    <delete id="deleteById">
        delete from `feedback`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Feedback" useGeneratedKeys="true">
        insert into `feedback`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="question != null">question,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
            <if test="status != null">status,</if>
            <if test="type != null">type,</if>
            <if test="urgency != null">urgency,</if>
            <if test="imageUrls != null">image_urls,</if>
            <if test="replyId != null">reply_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="question != null">#{question},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
            <if test="status != null">#{status},</if>
            <if test="type != null">#{type},</if>
            <if test="urgency != null">#{urgency},</if>
            <if test="imageUrls != null">#{imageUrls},</if>
            <if test="replyId != null">#{replyId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Feedback">
        update `feedback`
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="replyName != null">
                reply_name = #{replyName},
            </if>
            <if test="replyContent != null">
                reply_content = #{replyContent},
            </if>
            <if test="replyTime != null">
                reply_time = #{replyTime},
            </if>
            <if test="replyId != null">
                reply_id = #{replyId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>