<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SideshowMapper">

    <select id="selectAll" resultType="com.example.entity.Sideshow">
        select s.id, s.img, s.propagate_id as propagateId, p.title as propagateTitle 
        from sideshow s
        inner join propagate p on s.propagate_id = p.id
        inner join doctor d on p.doctor_id = d.id
        <where>
            <if test="propagateTitle != null and propagateTitle != ''">
                and p.title like concat('%', #{propagateTitle}, '%')
            </if>
            <if test="companyId != null">
                and d.company_id = #{companyId}
            </if>
        </where>
        order by s.id desc
    </select>

    <select id="selectByCompanyId" resultType="com.example.entity.Sideshow">
        select s.id, s.img, s.propagate_id as propagateId, p.title as propagateTitle 
        from sideshow s
        inner join propagate p on s.propagate_id = p.id
        inner join doctor d on p.doctor_id = d.id
        where d.company_id = #{companyId}
        order by s.id desc
    </select>

    <delete id="deleteById">
        delete from `sideshow`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Sideshow" useGeneratedKeys="true" keyProperty="id">
        insert into `sideshow`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="img != null">img,</if>
            <if test="propagateId != null">propagate_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="img != null">#{img},</if>
            <if test="propagateId != null">#{propagateId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Sideshow">
        update `sideshow`
        <set>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="propagateId != null">
                propagate_id = #{propagateId},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="checkPropagateCompany" resultType="boolean">
        SELECT COUNT(*) > 0 
        FROM propagate p
        INNER JOIN doctor d ON p.doctor_id = d.id
        WHERE p.id = #{propagateId} 
        AND d.company_id = #{companyId}
    </select>

</mapper>